{% extends "base.html" %}
{% block content %}

<div class="col-sm-11 mx-auto">
    <div class="card text-dark bg-warning">
        <div class="card-header">
            <b>Create New Election</b>
        </div>
        <div class="card-body">
            <form action="/create" method="post">
                <div class="form-group">
                    <select id="ballot_type" name="type" class="form-select">
                        <option value="boundedApprovalElection">Bounded Approval Ballots Election</option>
                        <option value="approvalElection">Regular Approval Voting Election</option>
                        <option value="savElection">Satisfaction Approval Voting Election</option>
                        <option value="pavElection">Proportional Approval Voting Election</option>
                        <option value="bordaElection">Borda Election</option>
                        <option value="bordaCCElection">Borda Chamberlin-Courant Election</option>
                        <option value="utilitarianElection">Utilitarian Election</option>
                    </select>
                    <small class="form-text text-muted">Select the ballot type/evaluation method for your election.</small>
                </div>

                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Election Title*" required class="form-control">
                    <small class="form-text text-muted">Give your election an easy to remember name.</small>
                </div>
                <div class="form-group">
                    <textarea id="description" name="description" placeholder="Description*" required class="form-control" rows="5"></textarea>
                    <small class="form-text text-muted">Briefly describe your election.</small>
                </div>
                <div id="form-hidden" style="display: none;">
                    <div class="form-group">
                        <input type="text" id="candidate1" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="First Candidate*"
                            required class="form-control float-start">
                        <input type="text" id="candidate2" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Second Candidate*"
                            required class="form-control float-start">
                        <input type="text" id="candidate3" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Third Candidate*"
                            required class="form-control float-start">
                        <input type="text" id="candidate4" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                            class="form-control float-start">
                        <input type="text" id="candidate5" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Candidate"
                            class="form-control float-start">
                        <input type="text" id="candidate6" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                            class="form-control float-start">
                        <div id="candidates-hidden" style="display: none;">
                            <input type="text" id="candidate7" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                            <input type="text" id="candidate8" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                            <input type="text" id="candidate9" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                            <input type="text" id="candidate10" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                            <input type="text" id="candidate11" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                            <input type="text" id="candidate12" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                placeholder="Candidate" class="form-control float-start">
                        </div>
                        <small class="form-text text-muted">We currently support up to 12 candidates.</small>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <select id="committeesize" name="committeesize" class="form-select">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <small class="form-text text-muted">Select the size for your committee. It must be less than the number of candidates.</small>
                    </div>
                </div>
                <input type="submit" id="submitbtn" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

<div class="mt-5 mb-5">
    <h3>Need Help Which Ballot Type to Choose?</h3>


    <div class="accordion" id="ballotAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingRegularApproval">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRegularApproval" aria-expanded="true" aria-controls="collapseRegularApproval">
                Regular Approval Ballots Election
            </button>
          </h2>
          <div id="collapseRegularApproval" class="accordion-collapse collapse show" aria-labelledby="headingRegularApproval" data-bs-parent="#ballotAccordion">
            <div class="accordion-body">
              This is the classical type of ballot.
              Every voter can select all the alternatives he/she likes.
              <br>
              <br>

              <p>
                <b>Example:</b>
                <i>Each of Bill, Lisa, Anna and Frank are suitable for the expert committee.</i>
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingBoundedBallot">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBoundedBallot" aria-expanded="false" aria-controls="collapseBoundedBallot">
                Bounded Approval Ballots Election
            </button>
          </h2>
          <div id="collapseBoundedBallot" class="accordion-collapse collapse" aria-labelledby="headingBoundedBallot" data-bs-parent="#ballotAccordion">
            <div class="accordion-body">
                This ballot type allows the voter to express the following additional to approval:
                <ul>
                    <li><b>Substitution:</b>The voter likes two (or more) alternatives, but it is sufficient if one of them is included in the committee.</li>
                    <li><b>Dependency:</b>The voter likes two (or more) alternatives, but only if they are all together in the committee.</li>
                    <li><b>Incompatibility:</b>The voter likes two (or more) alternatives, but no more than one must be included in the committee.</li>
                </ul>

                
                <p>
                    <b>Example:</b>
                    <i>I like potatoes and pasta on the buffet. But in case both were on the buffet, I would anyway only take
                    either potatoes or pasta, not both. So having both is just as good for me as having only one of them.</i>
                </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingBorda">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBorda" aria-expanded="false" aria-controls="collapseBorda">
                  Borda Election
              </button>
            </h2>
            <div id="collapseBorda" class="accordion-collapse collapse" aria-labelledby="headingBorda" data-bs-parent="#ballotAccordion">
              <div class="accordion-body">
                  This election allows voters to submit a ranking over the candidates.
                  The higher ranked a candidate is in a voters ballot, the more points will the candidate receive from that ballot.
                  The committee contains the candidates with highest total points.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingBordaCC">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBordaCC" aria-expanded="false" aria-controls="collapseBordaCC">
                  Borda Chamberlin-Courant Election
              </button>
            </h2>
            <div id="collapseBordaCC" class="accordion-collapse collapse" aria-labelledby="headingBordaCC" data-bs-parent="#ballotAccordion">
              <div class="accordion-body">
                  This election allows voters to submit a ranking over the candidates.
                  The higher ranked a candidate is in a voters ballot, the more points will the candidate receive from that ballot.
                  <br><br>
                  In contrast to usual Borda elections, in Borda Chamberlin-Courant each voter contributes only the points to the total points of the committee for the candidate the voter likes most in the committee.
                  This increases the diversity of the committee.
              </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingUtilitarian">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUtilitarian" aria-expanded="false" aria-controls="collapseUtilitarian">
                  Utilitarian Election
              </button>
            </h2>
            <div id="collapseUtilitarian" class="accordion-collapse collapse" aria-labelledby="headingUtilitarian" data-bs-parent="#ballotAccordion">
              <div class="accordion-body">
                  This election allows voters to submit a numerical utility value for each candidate.
              </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
    <script>
        document.getElementById("description").addEventListener('input', function () {
            $("div#form-hidden").css('display', 'block');
        });
        document.getElementById("candidate6").addEventListener('input', function () {
            $("div#candidates-hidden").css('display', 'block');
        });
    </script>
{% endblock %}
