{% extends "base.html" %}
{% block content %}

<div class="col-sm-12 mx-auto">
    <div class="card text-dark">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a id="nav-mw" class="nav-link active" href="#" onclick="showMultiWinner()">Multiwinner Election</a>
            </li>
            <li class="nav-item">
              <a id="nav-sw" class="nav-link" href="#" onclick="showSingleWinner()">Single-Winner Election</a>
            </li>
          </ul>
        </div>
        <div class="card-body">

            <!-- Begin Multiwinner Form -->
            <div id="multiwinner">
                <form action="/create" method="post">
                    <div class="form-group mb-3">
                        <input type="text" id="name" name="name" placeholder="Election Title*" required class="form-control">
                        <small class="form-text text-muted">Give your election an easy to remember name.</small>
                    </div>
                    <div class="form-group mb-3">
                        <textarea id="description" name="description" placeholder="Description*" required class="form-control" rows="5"></textarea>
                        <small class="form-text text-muted">Briefly describe your election.</small>
                    </div>
                    <div id="candidates-form" class="mb-3">
                        <div class="form-group">
                            <input type="text" id="candidate1" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="First Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate2" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Second Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate3" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Third Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate4" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <input type="text" id="candidate5" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <input type="text" id="candidate6-mw" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <div id="candidates-hidden-mw" style="display: none;">
                                <input type="text" id="candidate7" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate8" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate9" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate10" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate11" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate12" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                            </div>
                            <small class="form-text text-muted">We currently support up to 12 candidates.</small>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="type-mw" class="form-group mb-3">
                        <select name="type" class="form-select">
                            <option value="approvalElection">Approval Voting</option>
                            <option value="savElection">Satisfaction Approval Voting</option>
                            <option value="pavElection">Proportional Approval Voting</option>
                            <option value="boundedApprovalElection">Bounded Approval Election</option>
                            <option value="bordaElection">Borda Election</option>
                            <option value="bordaCCElection">Borda Chamberlin-Courant</option>
                            <option value="stvElection">Single Transferable Vote</option>
                            <option value="utilitarianElection">Utilitarian Election</option>
                        </select>
                        <small class="form-text text-muted">Select the voting method for your election.</small>
                    </div>

                    <!-- Explanations -->
                    <div class="alert alert-info">
                        <div id="mw-approvalElection">
                            <p class="form-text text-muted">
                                Approval elections are very simple and common.
                                Every voter selects each alternative he/she likes (as many as they want).
                                The winner(s) is/are the candidate(s) with highest number of approvals.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Approval Ballots</li>
                                <li><b>Pros:</b> Simple and easy to understand</li>
                                <li><b>Cons:</b> Not very expressive; no proportionality or diversity guarantees</li>
                                <li><b>Use Cases:</b> Selecting an appointment</li>
                            </ul>
                        </div>
                        <div id="mw-savElection" style="display: none;">
                            <p class="form-text text-muted">
                                Satisfaction approval voting uses the same interface as approval voting.
                                However, internally it works different.
                                Each voter has the same total <i>voting power</i> which is uniformly distibuted among all candidates he/she approves.
                                This prevents the <i>tyranny of the masses</i> to some degree.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Approval Ballots</li>
                                <li><b>Pros:</b> Simple and easy to understand; more diverse committees; resistence to candidate-cloning</li>
                                <li><b>Cons:</b> Not very expressive; limited proportionality</li>
                                <li><b>Use Cases:</b> Selecting dishes for buffet</li>
                            </ul>
                        </div>
                        <div id="mw-bordaElection" style="display: none;">
                            <p class="form-text text-muted">
                                Borda elections allow voters to rank the candidates from best to worst.
                                The idea is to choose the desired number of candidates which individually have the best average positions over all votes.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use</li>
                                <li><b>Cons:</b> No proportionality or diversity guarantees; susceptible to manipulation by dishonest preferences</li>
                                <li><b>Use Cases:</b> Formular 1, the eurovision song contest, and others use Borda-like methods to select the season winner</li>
                            </ul>
                        </div>
                        <div id="mw-pavElection" style="display: none;">
                            <p class="form-text text-muted">
                                Proportional approval voting uses approval ballots but aims at proportional apportionment of the seats in the committee.
                                To this end, a voter is said to assign a score of <i>1 + 1/2 + 1/3 + ... + 1/x</i> to a committee, where <i>x</i> is the number of candidates in the committee the voter approves.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Approval Ballots</li>
                                <li><b>Pros:</b> Simple and easy to understand; strong proportionality guarantees</li>
                                <li><b>Cons:</b> Not very expressive</li>
                                <li><b>Use Cases:</b> Electing a parliament</li>
                            </ul>
                        </div>
                        <div id="mw-boundedBallotElection" style="display: none;">
                            <p class="form-text text-muted">
                                Bounded approval elections extend regular approval voting by allowing voters to express relations between candidates.
                                In particular, bounded approval ballots allow expressing substitution effects, incompatibilities, and dependencies.
                                For instance, if a voter wants to say that candidates a, b, and c are suitable for the committee, but it is sufficient if one of them is selected, the voter cannot express this with regular approval ballots but with bounded approval ballots.
                                Note that approval ballots (without any relations between candidates) can also be submitted through the interface for bounded approval ballots.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Bounded Approval Ballots</li>
                                <li><b>Pros:</b> Very expressive (relations between candidates); relatively easy to use</li>
                                <li><b>Cons:</b> Voters are usually not used to these ballots; no proportionality or diversity guarantees</li>
                                <li><b>Use Cases:</b> Select members of an expert committee</li>
                            </ul>
                        </div>
                        <div id="mw-utilitarianElection" style="display: none;">
                            <p class="form-text text-muted">
                                Utilitarian elections allow voters to provide a numerical utility value for each candidate.
                                The winner(s) is/are the candidate(s) with the highest overall utility.
                                The idea is similar as in Borda elections, but voters can more fine-granularly express how much they like or dislike each candidate. 
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Cardinal Ballots</li>
                                <li><b>Pros:</b> Very expressive; relatively easy to use</li>
                                <li><b>Cons:</b> No proportionality or diversity guarantees; susceptible to manipulation by dishonest preferences</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="mw-stvElection" style="display: none;">
                            <p class="form-text text-muted">
                                Single Transferable Vote allows voters to rank the candidates from best to worst.
                                STV works in rounds where in each round up to one candidate is elected to the committee.
                                The idea is that when <i>k</i> alternatives are to be elected, each elected candidate should have at least <i>(n / (k+1)) + 1</i> supporters where <i>n</i> is the number of voters (the Droop quota).
                                For instance, when one candidate must be elected, the winner needs support from more than half of the total voters (i.e., <i>(n/2) + 1</i>) to be a <i>safe winner</i>.
                                In each round, STV searches for such a candidate.
                                If such a candidate is found, it is elected and the voting ability of the supporters is reduced depending on by how much their number exceeded the required quota.
                                Otherwise, the candidate with lowest support is removed from election, and the votes for that candidate are <i>transferred</i> to the next best candidate.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use; aims at proportionality</li>
                                <li><b>Cons:</b> The computation is difficult to understand for voters</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="mw-bordaCCElection" style="display: none;">
                            <p class="form-text text-muted">
                                Borda Chamberlin-Courant tries to increase the proportionality and diversity of Borda elections.
                                For a committee <i>X</i>, each voter adds the Borda-score for the best candidate (in the voter's opinion) in the committee <i>X</i>.
                                The respective candidate is called the <i>representative</i> of the voter.
                                This prevents a majority of voters with similar preferences to elect large parts (or the whole) committee alone.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use; more diverse and proportional than Borda</li>
                                <li><b>Cons:</b> -</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                    </div>
                    <!-- / Explanations -->

                    <div class="form-group mb-3">
                        <select id="committeesize" name="committeesize" class="form-select">
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                        <small class="form-text text-muted">Select the size for your committee. It must be less than the number of candidates.</small>
                    </div>
                    <input type="submit" id="submitbtn" value="Submit" class="btn btn-success">
                </form>
            </div>

            <!-- Begin Single-Winner Form -->
            <div id="singlewinner" style="display: none;">
                <form action="/create" method="post">
                    <div class="form-group mb-3">
                        <input type="text" id="name" name="name" placeholder="Election Title*" required class="form-control">
                        <small class="form-text text-muted">Give your election an easy to remember name.</small>
                    </div>
                    <div class="form-group mb-3">
                        <textarea id="description" name="description" placeholder="Description*" required class="form-control" rows="5"></textarea>
                        <small class="form-text text-muted">Briefly describe your election.</small>
                    </div>
                    <div id="candidates-form" class="mb-3">
                        <div class="form-group">
                            <input type="text" id="candidate1" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="First Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate2" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Second Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate3" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Third Candidate*"
                                required class="form-control float-start">
                            <input type="text" id="candidate4" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <input type="text" id="candidate5" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <input type="text" id="candidate6-sw" name="candidates[]" style="width: 49%; margin-bottom: 2px;" placeholder="Candidate"
                                class="form-control float-start">
                            <div id="candidates-hidden-sw" style="display: none;">
                                <input type="text" id="candidate7" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate8" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate9" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate10" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate11" name="candidates[]" style="width: 49%; margin-right: 2%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                                <input type="text" id="candidate12" name="candidates[]" style="width: 49%; margin-bottom: 2px;"
                                    placeholder="Candidate" class="form-control float-start">
                            </div>
                            <small class="form-text text-muted">We currently support up to 12 candidates.</small>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group mb-3">
                        <select id="type-sw" name="type" class="form-select">
                            <option value="approvalElection">Approval Voting</option>
                            <option value="savElection">Satisfaction Approval Voting</option>
                            <option value="bordaElection">Borda Election</option>
                            <option value="copelandElection">Copeland Election</option>
                            <option value="bucklinElection">Bucklin Election</option>
                            <option value="fallbackElection">Fallback Election</option>
                            <option value="stvElection">Single Transferable Vote</option>
                            <option value="utilitarianElection">Utilitarian Election</option>
                        </select>
                        <small class="form-text text-muted">Select the voting method for your election.</small>
                    </div>

                    <!-- Explanations -->
                    <div class="alert alert-info">
                        <div id="sw-approvalElection">
                            <p class="form-text text-muted">
                                Approval elections are very simple and common.
                                Every voter selects each alternative he/she likes (as many as they want).
                                The winner(s) is/are the candidate(s) with highest number of approvals.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Approval Ballots</li>
                                <li><b>Pros:</b> Simple and easy to understand</li>
                                <li><b>Cons:</b> Not very expressive; no proportionality or diversity guarantees</li>
                                <li><b>Use Cases:</b> Selecting an appointment</li>
                            </ul>
                        </div>
                        <div id="sw-savElection" style="display: none;">
                            <p class="form-text text-muted">
                                Satisfaction approval voting uses the same interface as approval voting.
                                However, internally it works different.
                                Each voter has the same total <i>voting power</i> which is uniformly distibuted among all candidates he/she approves.
                                This prevents the <i>tyranny of the masses</i> to some degree.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Approval Ballots</li>
                                <li><b>Pros:</b> Simple and easy to understand; more diverse committees; resistence to candidate-cloning</li>
                                <li><b>Cons:</b> Not very expressive; limited proportionality</li>
                                <li><b>Use Cases:</b> Selecting dishes for buffet</li>
                            </ul>
                        </div>
                        <div id="sw-bordaElection" style="display: none;">
                            <p class="form-text text-muted">
                                Borda elections allow voters to rank the candidates from best to worst.
                                The idea is to choose the desired number of candidates which individually have the best average positions over all votes.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use</li>
                                <li><b>Cons:</b> No proportionality or diversity guarantees; susceptible to manipulation by dishonest preferences</li>
                                <li><b>Use Cases:</b> Formular 1, the eurovision song contest, and others use Borda-like methods to select the season winner</li>
                            </ul>
                        </div>
                        <div id="sw-copelandElection" style="display: none;">
                            <p class="form-text text-muted">
                                Copeland is a Condorcet method.
                                That is, it is based on pairwise comparisons between candidates.
                                In a pairwise comparison, a hypothetical duel between two candidates (say <i>a</i> and <i>b</i>) is conducted.
                                Each voter votes for either <i>a</i> or <i>b</i> depending on which of the two the voter prefers.
                                If <i>a</i> has more votes than <i>b</i>, <i>a</i> wins the comparison (and vice versa).
                                Ties count as half a victory for both.
                                In Copeland every candidate is pairwise compared against every other candidate.
                                The candidate winning the most pairwise comparisons, wins the election.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use, Condorcet-consistent</li>
                                <li><b>Cons:</b> -</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="sw-fallbackElection" style="display: none;">
                            <p class="form-text text-muted">
                                Fallback voting is a combination of approval and Bucklin elections.
                                First, the voter selects a set of candidates he/she likes to be elected.
                                Then, the selected candidates are ranked.
                                Evaluating a ballot works just as in Bucklin, just that not-approved candidates receive no place at all from the voter.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Truncated Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use, resistence against manipulation</li>
                                <li><b>Cons:</b> -</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="sw-utilitarianElection" style="display: none;">
                            <p class="form-text text-muted">
                                Utilitarian elections allow voters to provide a numerical utility value for each candidate.
                                The winner(s) is/are the candidate(s) with the highest overall utility.
                                The idea is similar as in Borda elections, but voters can more fine-granularly express how much they like or dislike each candidate. 
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Cardinal Ballots</li>
                                <li><b>Pros:</b> Very expressive; relatively easy to use</li>
                                <li><b>Cons:</b> No proportionality or diversity guarantees; susceptible to manipulation by dishonest preferences</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="sw-stvElection" style="display: none;">
                            <p class="form-text text-muted">
                                Single Transferable Vote allows voters to rank the candidates from best to worst.
                                STV works in rounds where in each round up to one candidate is elected to the committee.
                                The idea is that when <i>k</i> alternatives are to be elected, each elected candidate should have at least <i>(n / (k+1)) + 1</i> supporters where <i>n</i> is the number of voters (the Droop quota).
                                For instance, when one candidate must be elected, the winner needs support from more than half of the total voters (i.e., <i>(n/2) + 1</i>) to be a <i>safe winner</i>.
                                In each round, STV searches for such a candidate.
                                If such a candidate is found, it is elected and the voting ability of the supporters is reduced depending on by how much their number exceeded the required quota.
                                Otherwise, the candidate with lowest support is removed from election, and the votes for that candidate are <i>transferred</i> to the next best candidate.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use; aims at proportionality</li>
                                <li><b>Cons:</b> The computation is difficult to understand for voters</li>
                                <li><b>Use Cases:</b> -</li>
                            </ul>
                        </div>
                        <div id="sw-bucklinElection" style="display: none;">
                            <p class="form-text text-muted">
                                Bucklin voting works as follows.
                                In the first round we consider every first places of the candidates.
                                If any candidate receives a majority (i.e., more than <i>n/2</i> when there are <i>n</i> voters) of first places, it wins.
                                Otherwise, in the second round we consider all first and second places and check whether any candidate has more than <i>n/2</i> of them.
                                If not, we consider every first to third place, and so on.
                                Should two candidates at the same time exceed <i>n/2</i> of the votes, the one with more places (first to x place) wins.
                            </p>
                            <ul class="form-text text-muted">
                                <li><b>Ballots:</b> Ordinal Ranks</li>
                                <li><b>Pros:</b> Relatively expressive; relatively easy to use, resistence against manipulation</li>
                                <li><b>Cons:</b> -</li>
                                <li><b>Use Cases:</b> A similar system is used in skating and dance sport.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- / Explanations -->

                    <div class="form-group mb-3">
                        <select id="committeesize" name="committeesize" class="form-select" hidden>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <input type="submit" id="submitbtn" value="Submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script>
        document.getElementById("candidate6-sw").addEventListener('input', function () {
            $("div#candidates-hidden-sw").css('display', 'block');
        });

        document.getElementById("candidate6-mw").addEventListener('input', function () {
            $("div#candidates-hidden-mw").css('display', 'block');
        });

        function showSingleWinner() {
            $("div#singlewinner").css('display', 'block');
            $("div#multiwinner").css('display', 'none');
            document.getElementById("nav-mw").classList.remove('active');
            document.getElementById("nav-sw").classList.add('active');
        }

        function showMultiWinner() {
            $("div#singlewinner").css('display', 'none');
            $("div#multiwinner").css('display', 'block');
            document.getElementById("nav-mw").classList.add('active');
            document.getElementById("nav-sw").classList.remove('active');
        }

        document.getElementById("type-sw").addEventListener("change", (e) => {
            blocks = $('[id^="sw-"]');
            for(i = 0; i< blocks.length; i++){
                blocks[i].style.display = "none";
            }
            $("div#sw-"+e.target.value).css('display', 'block');
        });

        document.getElementById("type-mw").addEventListener("change", (e) => {
            blocks = $('[id^="mw-"]');
            for(i = 0; i< blocks.length; i++){
                blocks[i].style.display = "none";
            }
            $("div#mw-"+e.target.value).css('display', 'block');
        });
    </script>
{% endblock %}
