{%extends "base.html" %}
{%block content%}
<div class="col-sm-8 mx-auto mb-3">
    <div class="card text-dark bg-light">
        <div class="card-header">
            <b>{{ election.title }}</b>
            <div class="float-end">
                <input hidden type="text" value="{{ url_for('voting.details_page', electionID=election.id, _external=True) }}" id="sharelink" class="textfield" readonly>
                <button id="sharebutton" onclick="copyShareToClipboard()" class="btn btn-primary">Share</button>
                {% if election.is_stopped %} 
                    <button class="btn btn-success" disabled>Vote</button>
                {% else %}
                    <a href="/vote/{{ election.id }}"><button class="btn btn-success">Vote</button></a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <b>Description:</b>
            <p>
                {% for line in election.description.split("\n") %}
                    {{ line }}<br>
                {% endfor %}
            </p>
            <br>
            <b>Committee Size:</b> {{election.committeesize}}
            <br>
            <b>Candidates:</b>
            <p>
                {% for candidate in election.candidates %}
                    <div class="is-candidate">
                        {{candidate.name}}
                    </div>
                {% endfor %}
            </p>
            <div style="clear: both;"></div>

            {% if admin %}
                <br>
                <b>Admin Space:</b>
                {% if election.is_stopped %}
                    <br>
                    This election was stopped by you (or another administrator).
                    <br>
                    A total of <b>{{election.votecount}} voters</b> participated.
                    <br>
                    The winner committee is:
                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <br>
                    Voters can still vote in this election. Click the button at the bottom to stop voting.
                    <br>
                    Currently <b>{{election.votecount}} voters</b> participated.
                    <br>
                    Currently, the best committee is:
                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                    <div style="clear: both;"></div>
                    <br>
                    Please note that some voting rules produce a committee which is smaller than the intended size, e.g., because there were not sufficiently many votes to construct a complete committee.
                    <div style="clear: both;"></div>
                {% endif %}
                <div class="float-end">
                    <form method="post">
                        {% if election.is_stopped %} 
                            <input value="Stop + Evaluate" class="btn btn-warning" disabled>
                        {% else %}
                            <input type="submit" value="Stop and Evaluate" class="btn btn-warning" formaction="/evaluate/{{ election.id }}" onclick="return confirm('By evaluating the election, it will be closed for further votes. Do you want to continue?')">
                        {% endif %}
                        <input type="submit" value="Delete" class="btn btn-danger" formaction="/delete/{{ election.id }}" onclick="return confirm('This election will be deleted. Results will no longer be available. This cannot be undone. Do you want to continue?')">
                    </form>
                </div>
            {% else %}
                <br>
                <b>Election Result:</b>
                {% if election.is_stopped %}
                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                    <div style="clear: both;"></div>
                {% else %}
                    <i>The results will be published here when the election is finished. As creator of this election, login to see details.</i>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{%block scripts%}
  <script>
    function copyShareToClipboard(){
        var copyText = document.getElementById("sharelink");
        copyText.select();
        copyText.setSelectionRange(0, 200);
        navigator.clipboard.writeText(copyText.value);
        document.getElementById("sharebutton").firstChild.data = "Copied!";
        document.getElementById("sharebutton").disabled = true;
    }
  </script>
{% endblock %}