{%extends "base.html" %}
{%block content%}
<div class="mb-3">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h1 class="display-6">{{ election.title }}</h1>
                </div>
                <div class="col">
                    <div class="float-end">
                        <input hidden type="text" value="{{ url_for('voting.details_page', electionID=election.id, _external=True) }}" id="sharelink" class="textfield" readonly>
                        <button id="sharebutton" onclick="copyShareToClipboard()" class="btn btn-primary">Share</button>
                        {% if election.is_stopped %} 
                            <button class="btn btn-success" disabled>Vote</button>
                        {% else %}
                            <a href="/vote/{{ election.id }}"><button class="btn btn-success">Vote</button></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>
                <b>Description:</b>
                {% for line in election.description.split("\n") %}
                    {{ line }}<br>
                {% endfor %}
            </p>

            <p>
                <b>Creator/Owner:</b>
                {{ election.owner.name }}
            </p>

            <p>
                <b>Election Type:</b>
                {% if election.committeesize == 1 %} 
                    Single-Winner Election.
                {% else %}
                    Committee Election (target size: {{election.committeesize}})
                {% endif %}
            </p>
            
            {% if election.is_stopped %}
                <b>The winner committee is:</b>
                <div class="row">
                    {% for candidate in election.get_winners() %}
                        <div class="col-3"><div class="card mb-2"><div class="card-header text-center text-nowrap overflow-hidden">{{candidate.name}}</div></div></div>
                    {% endfor %}
                </div>
            {% else %}
                <b>The candidates are:</b>
                <div class="row">
                    {% for candidate in election.candidates %}
                        <div class="col-3"><div class="card mb-2"><div class="card-header text-center text-nowrap overflow-hidden">{{candidate.name}}</div></div></div>
                    {% endfor %}
                </div>
            {% endif %}


            {% if admin %}
                <hr>
                <b>The following information is only visible for the owner of the election.</b>
                <br>
                {% if election.is_stopped %}
                    <br>
                    A total of <b>{{election.votecount}} voters</b> participated (election is <b>closed</b>).
                {% else %}
                    <br>
                    Currently <b>{{election.votecount}} voters</b> participated (election is still <b>open</b>).
                    <br>
                    Currently, the winner(s) is (are):
                    <div class="mb-2 mt-2 row">
                        {% for candidate in election.get_winners() %}
                            <div class="col-3"><div class="card mb-2"><div class="card-header text-center text-nowrap overflow-hidden">{{candidate.name}}</div></div></div>
                        {% endfor %}
                    </div>
                    Please note that some voting rules produce a smaller committee than the intended size, e.g., because there were not sufficiently many votes to construct a complete committee yet.
                    Further, note that this is not the final result as the election is still open.
                    <div style="clear: both;"></div>
                {% endif %}
                <div class="float-end">
                    <form method="post">
                        {% if election.is_stopped %} 
                            <input value="Stop and Evaluate" class="btn btn-warning" disabled>
                        {% else %}
                            <input type="submit" value="Stop and Evaluate" class="btn btn-warning" formaction="/evaluate/{{ election.id }}" onclick="return confirm('By evaluating the election, it will be closed for further votes. Do you want to continue?')">
                        {% endif %}
                        <input type="submit" value="Delete" class="btn btn-danger" formaction="/delete/{{ election.id }}" onclick="return confirm('This election will be deleted. Results will no longer be available. This cannot be undone. Do you want to continue?')">
                    </form>
                </div>
            {% else %}
                <br>
                <b>Election Result:</b>
                {% if election.is_stopped %}
                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                    <div style="clear: both;"></div>
                {% else %}
                    <i>The results will be published here when the election is finished. As creator of this election, login to see details.</i>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{%block scripts%}
  <script>
    function copyShareToClipboard(){
        var copyText = document.getElementById("sharelink");
        copyText.select();
        copyText.setSelectionRange(0, 200);
        navigator.clipboard.writeText(copyText.value);
        document.getElementById("sharebutton").firstChild.data = "Copied!";
        document.getElementById("sharebutton").disabled = true;
    }
  </script>
{% endblock %}