{%extends "base.html" %}


{%block content%}

<div class="col-sm-8 mx-auto mb-3">
  <div class="card text-dark bg-light">
      <div class="card-header">
          <b>{{ election.title }}</b>
      </div>
      <div class="card-body">
          <b>Description:</b>
          <p>
              {% for line in election.description.split("\n") %}
                  {{ line }}<br>
              {% endfor %}
          </p>
          <br>
          <b>Committee Size:</b> {{election.committeesize}}
      </div>
  </div>
</div>


{% if election.is_stopped %} 

  <div class="alert alert-danger" role="alert">
    This election was closed already.
  </div>

{% else %}

  <div class="accordion" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headinghowitworks">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsehowitworks" aria-expanded="false" aria-controls="collapsehowitworks">
            How It Works
        </button>
      </h2>
      <div id="collapsehowitworks" class="accordion-collapse collapse show" aria-labelledby="headinghowitworks" data-bs-parent="#faq">
        <div class="accordion-body">
          For each candidate move the slider to indicate how much you like or hate them.
          The middle indicates you neither hate nor like them.
          The further right you draw the slider, the more you like them.
          Sliding left indicates a dislike.
        </div>
      </div>
    </div>
  </div>


  <div class="mb-2 mt-5">
    <div style="height:5px; width:12%; background-color: rgb(163, 0, 0); display:inline-block;"></div>
    <div style="height:5px; width:14%; background-color: rgb(212, 10, 10); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(216, 80, 2); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(231, 209, 8); display:inline-block"></div>
    <div style="height:5px; width:6%; background-color: rgb(145, 145, 145); display:inline-block"></div>
    <div style="height:5px; width:9%; background-color: rgb(204, 255, 108); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(174, 243, 47); display:inline-block"></div>
    <div style="height:5px; width:13%; background-color: rgb(145, 212, 18); display:inline-block"></div>
    <div style="height:5px; width:13.5%; background-color: rgb(92, 138, 6); display:inline-block"></div>
    <div style="clear: both;" class="mb-3"></div>
    <div id="all_candidates" class="mb-2">
    {% for candidate in election.candidates %}
    <label for="{{candidate.id}}" class="form-label">{{candidate.name}}: <span id="{{candidate.id}}-valuefield">Neutral</span></label>
    <input type="range" class="form-range candidate" min="-10" max="10" step="1" id="{{candidate.id}}" onchange="updateSliderValue(this.id, this.value)">
    {% endfor %}
    </div>
    <div style="height:5px; width:12%; background-color: rgb(163, 0, 0); display:inline-block;"></div>
    <div style="height:5px; width:14%; background-color: rgb(212, 10, 10); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(216, 80, 2); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(231, 209, 8); display:inline-block"></div>
    <div style="height:5px; width:6%; background-color: rgb(145, 145, 145); display:inline-block"></div>
    <div style="height:5px; width:9%; background-color: rgb(204, 255, 108); display:inline-block"></div>
    <div style="height:5px; width:10%; background-color: rgb(174, 243, 47); display:inline-block"></div>
    <div style="height:5px; width:13%; background-color: rgb(145, 212, 18); display:inline-block"></div>
    <div style="height:5px; width:13.5%; background-color: rgb(92, 138, 6); display:inline-block"></div>
    <div style="clear: both;" class="mb-3"></div>
    <button class="btn btn-success" onclick="sendBallot()">Submit</button>
  </div>


{% endif %} 


    
{% endblock %}




{%block scripts%}
  <!-- This is the required script for drag and drop actions, and the form filling and sending. -->
  <script>
    var url = "/vote/{{election.id}}";    

    function sendBallot(){
      var json_to_send = JSON.stringify({"type" : "utilitarianBallot",
                                         "ratings" : get_rating()});
      console.log("sending ballot:");
      console.log(json_to_send);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() { 
        if (this.readyState == 4) {
          if(this.status == 200){
            window.location.href = '/done';
          }
          else{
            console.log(this.responseText)
            alert("Something went wrong. Please reload the page and try again.");
          }
        } 
      };
      xhr.send(json_to_send);
    }

    function get_rating(){
      var values={};
      $(".candidate").each(
        function(){
          values[this.id] = this.value;
        })
        return values;
    }

    function updateSliderValue(sliderID, value){
          textfield = document.getElementById(sliderID + "-valuefield")
          if (value <= -8){
            textfield.textContent = "The worst candidate ever!"
          }
          else if (value <= -5){
            textfield.textContent = "Very bad candidate."
          }
          else if (value <= -3){
            textfield.textContent = "Bad candidate."
          }
          else if (value < 0){
            textfield.textContent = "I tend to not include the candidate."
          }
          else if (value == 0){
            textfield.textContent = "Neutral."
          }
          else if (value < 3){
            textfield.textContent = "I tend to vote for that candidate."
          }
          else if (value < 5){
            textfield.textContent = "Good candidate."
          }
          else if (value < 8){
            textfield.textContent = "Very good candidate."
          }
          else{
            textfield.textContent = "Best candidate ever!"
          }
        }
  </script>
{% endblock %}
