{%extends "vote.html" %}


{%block votingguide%}

  <div class="accordion" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headinghowitworks">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsehowitworks" aria-expanded="false" aria-controls="collapsehowitworks">
            How It Works
        </button>
      </h2>
      <div id="collapsehowitworks" class="accordion-collapse collapse show" aria-labelledby="headinghowitworks" data-bs-parent="#faq">
        <div class="accordion-body">
          Voting works in two steps.
          <ol>
            <li><b>Select all candidates you approve.</b> More precisely: Select each candidate for which you think there exists a committee (of the size given in the description above) where this candidate is part of, and you find it good that the candidate is part of it.</li>
            <br>
            <li>
              <b>Refine your ballot</b> by stating under which conditions you like each candidate.
              <ul>
                <li><i>Unconditional approval:</i> The candidates are good regardless of other candidates in the committee.</li>
                <li><i>Substitution:</i> Having one of these candidates is good, but having more than one is just as good as having only one.</li>
                <li><i>Dependency:</i> These candidates only make sense when they are together in the committee. Any subset of them is useless.</li>
                <li><i>Incompatibility:</i> Having exactly one of these candidates is good, but there shouldn't be more than one of them.</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{%block votingprocess%}

  <!-- Step 1 -->
  <div id="step1" class="mb-2 mt-5">
    <h3>Step 1: Select all candidates you approve.</h3>
    <br>
    
    <div id="candidateSelection" class="mb-3">
      {% for candidate in election.candidates %}
        <button id="{{candidate.id}}" type="button" class="btn btn-outline-primary btn-lg" style="margin-left : 5px; margin-right : 5px;" data-bs-toggle="button" autocomplete="off">{{candidate.name}}</button>
      {% endfor %}
    </div>
    <button class="btn btn-success" onclick="finishApproval()">Continue with Step 2</button>
  </div>
  <!-- End Step 1 -->

  <!-- Step 2 -->
  <div id="step2" style="display: none;" class="mb-2 mt-5">
    <h3>Step 2: If you want, you can specify your preference further. Click the arrows to move candidates between bins, and for each bin select what it expresses (e.g. substitution).</h3>
    <br>

    <div id="allbins" class="row mb-3 mt-2">
      <!-- Bin 1 -->
      <div class="card text-light bg-dark" style="width: 30%; margin-left: 1%; margin-right: 2%;">
        <div class="card-header">
          <h2>Bin 1</h2>
          <hr>
        </div>
        <div class="card-body">
          <div id="bin1items"></div>
        </div>
        <div class="card-footer">
          <hr>
          <form>
            <input type="radio" id="bin1approval" name="bin1type"> &nbsp; Approval<br>
            <input type="radio" id="bin1substitution" name="bin1type" checked="checked"> &nbsp; Substitution<br>
            <input type="radio" id="bin1incompatibility" name="bin1type"> &nbsp; Incompatible<br>
            <input type="radio" id="bin1dependency" name="bin1type"> &nbsp; Dependency
          </form>
        </div>
      </div>

      <!-- Bin 2 -->
      <div class="card text-light bg-dark" style="width: 30%; margin-left: 1%; margin-right: 2%;">
        <div class="card-header">
          <h2>Bin 2</h2>
          <hr>
        </div>
        <div class="card-body">
          <div id="bin2items"></div>
        </div>
        <div class="card-footer">
          <hr>
          <form>
            <input type="radio" id="bin2approval" name="bin1type" checked="checked"> &nbsp; Approval<br>
            <input type="radio" id="bin2substitution" name="bin1type"> &nbsp; Substitution<br>
            <input type="radio" id="bin2incompatibility" name="bin1type"> &nbsp; Incompatible<br>
            <input type="radio" id="bin2dependency" name="bin1type"> &nbsp; Dependency
          </form>
        </div>
      </div>

      <!-- Bin 3 -->
      <div class="card text-light bg-dark" style="width: 30%; margin-left: 1%;">
        <div class="card-header">
          <h2>Bin 3</h2>
          <hr>
        </div>
        <div class="card-body">
          <div id="bin3items"></div>
        </div>
        <div class="card-footer">
          <hr>
          <form>
            <input type="radio" id="bin3approval" name="bin1type"> &nbsp; Approval<br>
            <input type="radio" id="bin3substitution" name="bin1type"> &nbsp; Substitution<br>
            <input type="radio" id="bin3incompatibility" name="bin1type" checked="checked"> &nbsp; Incompatible<br>
            <input type="radio" id="bin3dependency" name="bin1type"> &nbsp; Dependency
          </form>
        </div>
      </div>
    </div>
    <button class="btn btn-success" onclick="sendBallot()">Submit</button>
  </div>
  <!-- End Step 2 -->

{% endblock %}




{%block scripts%}
  <!-- This is the required script for drag and drop actions, and the form filling and sending. -->
  <script>
    var url = "/vote/{{election.id}}";

    var bins = ["bin1", "bin2", "bin3"];
    var sets = {"bin1" : [], "bin2" : [], "bin3" : []};
    

    function sendBallot(){
      var bounds = computeBounds();
      var json_to_send = JSON.stringify({"type" : "boundedApprovalBallot",
                                         "sets" : sets,
                                         "bounds" : bounds});
      console.log("sending ballot:");
      console.log(json_to_send);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() { 
        if (this.readyState == 4) {
          if(this.status == 200){
            window.location.href = '/done';
          }
          else{
            console.log(this.responseText)
            alert("Something went wrong. Please reload the page and try again.");
          }
        } 
      };
      xhr.send(json_to_send);
    }

    function computeBounds(){
      var bounds = {};
      for(i = 0; i < bins.length; i++){
        bID = bins[i];
        if (document.getElementById(bID + "substitution").checked){
          bounds[bID] = [1, 1, sets[bID].length];
        }
        else if (document.getElementById(bID + "dependency").checked){
          bounds[bID] = [sets[bID].length, sets[bID].length, sets[bID].length];
        }
        else if (document.getElementById(bID + "incompatibility").checked){
          bounds[bID] = [1, 1, 1];
        }
        else{
          bounds[bID] = [1, sets[bID].length, sets[bID].length];
        }
      }
      return bounds;
    }

    function finishApproval(){
      var btns = document.querySelectorAll('#candidateSelection button');
      var app_candidates = [];
      for(i = 0; i < btns.length; i++){
        var btn = btns[i];
        if (btn.classList.contains("active")) {
          app_candidates.push(btn.id);
        }
      }
      if(app_candidates.length < 1){
        console.log("You must approve at least one candidate.")
        return
      }
      console.log("Approving following candidates:")
      console.log(app_candidates);
      $("#step1").slideToggle();
      $("#step2").slideToggle();
      sets["bin2"] = app_candidates;
      for(i = 0; i < sets["bin2"].length; i++){
        var candidateid = sets["bin2"][i];
        var candidate = document.getElementById(candidateid);
        candidate.removeAttribute('data-bs-toggle');


        var html_candidate_with_controls = document.createElement("div");
        html_candidate_with_controls.id = candidateid + "_controls"
        html_candidate_with_controls.setAttribute('class', 'mb-2');  
        document.getElementById("bin2items").appendChild(html_candidate_with_controls);

        var left_btn = document.createElement("BUTTON");
        left_btn.id = candidateid + "_controls_left"
        left_btn.setAttribute('class', 'btn btn-light mr-2 btn-lg');  
        left_btn.textContent = '<';
        left_btn.onclick = move_candidate_left;

        var right_btn = document.createElement("BUTTON");
        right_btn.id = candidateid + "_controls_right"
        right_btn.setAttribute('class', 'btn btn-light ml-2 btn-lg');  
        right_btn.textContent = '>';
        right_btn.onclick = move_candidate_right;
        
        html_candidate_with_controls.appendChild(left_btn);
        html_candidate_with_controls.appendChild(candidate);
        html_candidate_with_controls.appendChild(right_btn);
      }
    }

    function move_candidate_left(){
      var div_to_move = document.getElementById(this.id).parentNode;
      var candidateid = div_to_move.id.replace("_controls", "");
      var div_current_container = div_to_move.parentNode;
      var div_destination_container = 0;
      switch (div_current_container.id){
        case "bin1items":
          sets["bin1"] = sets["bin1"].filter(c => c !== candidateid);
          sets["bin3"].push(candidateid);
          div_destination_container = document.getElementById("bin3items");
          break;
        case "bin2items":
          sets["bin2"] = sets["bin2"].filter(c => c !== candidateid);
          sets["bin1"].push(candidateid);
          div_destination_container = document.getElementById("bin1items");
          break;
        case "bin3items":
          sets["bin3"] = sets["bin3"].filter(c => c !== candidateid);
          sets["bin2"].push(candidateid);
          div_destination_container = document.getElementById("bin2items");
          break;
      }
      div_current_container.removeChild(div_to_move);
      div_destination_container.appendChild(div_to_move);
    }

    function move_candidate_right(){
      var div_to_move = document.getElementById(this.id).parentNode;
      var candidateid = div_to_move.id.replace("_controls", "");
      var div_current_container = div_to_move.parentNode;
      var div_destination_container = 0;
      switch (div_current_container.id){
        case "bin1items":
          sets["bin1"] = sets["bin1"].filter(c => c !== candidateid);
          sets["bin2"].push(candidateid);
          div_destination_container = document.getElementById("bin2items");
          break;
        case "bin2items":
          sets["bin2"] = sets["bin2"].filter(c => c !== candidateid);
          sets["bin3"].push(candidateid);
          div_destination_container = document.getElementById("bin3items");
          break;
        case "bin3items":
          sets["bin3"] = sets["bin3"].filter(c => c !== candidateid);
          sets["bin1"].push(candidateid);
          div_destination_container = document.getElementById("bin1items");
          break;
      }
      div_current_container.removeChild(div_to_move);
      div_destination_container.appendChild(div_to_move);
    }
  
  </script>
{% endblock %}
