{%extends "base.html" %}

{% block head %}
{% endblock %}

{%block content%}

  <div class="col-sm-8 mx-auto mb-3">
    <div class="card">
        <div class="card-header">
            <b>{{ election.title }}</b>
        </div>
        <div class="card-body">
            <b>Description:</b>
            <p>
                {% for line in election.description.split("\n") %}
                    {{ line }}<br>
                {% endfor %}
            </p>
            <br>
            <b>Committee Size:</b> {{election.committeesize}}
        </div>
    </div>
  </div>

  {% block votingguide %}
  {% endblock %}

  {% if election.is_stopped %} 
    <div class="alert alert-danger" role="alert">
      This election was closed already.
    </div>
  {% else %}
    {% block votingprocess %}
    {% endblock %}
  {% endif %} 

{% endblock %}