{%extends "vote.html" %}


{%block votingguide%}

  <div class="accordion" id="faq">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headinghowitworks">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsehowitworks" aria-expanded="false" aria-controls="collapsehowitworks">
            How It Works
        </button>
      </h2>
      <div id="collapsehowitworks" class="accordion-collapse collapse show" aria-labelledby="headinghowitworks" data-bs-parent="#faq">
        <div class="accordion-body">
          We provide you all candidates in a random order.
          You click on the arrow buttons to move the candidates up or down in the order.
          Thereby, the top refers to the best candidate according to your opinion, and the bottom candidate to the worst.
          When you're finished, click the submit button.
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{%block votingprocess%}

  <div class="mb-2 mt-5">
    <div id="all_candidates" class="mb-2">
    {% for candidate in election.candidates %}
    <div class="candidate mb-1" id="{{candidate.id}}">
      <button id="{{candidate.id}}_up" type="button" class="btn btn-light mr-2 btn-lg" onclick="move_up(this)">Up</button>
      <button type="button" class="btn btn-primary btn-lg" disabled>{{candidate.name}}</button>
      <button id="{{candidate.id}}_down" type="button" class="btn btn-light mr-2 btn-lg" onclick="move_down(this)">Down</button>
    </div>
    {% endfor %}
    </div>
    <button class="btn btn-success" onclick="sendBallot()">Submit</button>
  </div>
    
{% endblock %}




{%block scripts%}
  <!-- This is the required script for drag and drop actions, and the form filling and sending. -->
  <script>
    var url = "/vote/{{election.id}}";    

    function sendBallot(){
      var json_to_send = JSON.stringify({"type" : "ordinalBallot",
                                         "order" : get_sequence()});
      console.log("sending ballot:");
      console.log(json_to_send);
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function() { 
        if (this.readyState == 4) {
          if(this.status == 200){
            window.location.href = '/done';
          }
          else{
            console.log(this.responseText)
            alert("Something went wrong. Please reload the page and try again.");
          }
        } 
      };
      xhr.send(json_to_send);
    }

    function get_sequence(){
      var sequence=[];
      var getDivs = $(".sqDiv");
      $(".candidate").each(
        function(){
          sequence.push(this.id)
        })
        return sequence
    }

    function move_up(btn){
      var div_to_move = btn.parentNode;
      if(div_to_move.previousElementSibling){
        div_to_move.parentNode.insertBefore(div_to_move, div_to_move.previousElementSibling);
      }
    }

    function move_down(btn){
      var div_to_move = btn.parentNode;
      if(div_to_move.nextElementSibling){
        div_to_move.parentNode.insertBefore(div_to_move.nextElementSibling, div_to_move);
      }
    }

  </script>
{% endblock %}
