version: "3"
services:
  webserver:
    image: ghcr.io/claussmann/goodvotex:latest
    container_name: goodvotex-webservice
    ports: 
        - "$GOODVOTEX_HOST:$GOODVOTEX_PORT:80"
    volumes: 
        - ./storage:/App/storage
    env_file: .env
