{%extends "base.html" %}
{%block content%}



<div class="content">
  <div class="center"><h1>Welcome to GoodVotes!</h1></div>
  <p>
    You are interested in sophisticated committee elections?
    This site is exactly what you are searching for!
  </p>
  <p>
    With this tool you can easily create a committee election, and let your voters vote.
    Our goal is to <i>allow the voters to express what they actually want to express.</i>
    More precisely, we enable the voters to express <b>not only that they like a candidate,</b> but also preferences like the following examples in a very convenient way:
  </p>

  <div class="center" style="width: 80%; margin-left: 10%;">
    <div class="section-caption">
      <span>Substitution</span>
    </div>
    <p><i>I like potatoes and pasta on the buffet. But in case both were on the buffet, I would anyway only take either potatoes or pasta, not both. So having both is just as good for me as having only one of them.</i></p>

    <div class="section-caption">
      <span>Dependency</span>
    </div>
    <p><i>I really like the white curtains paired with the red ones. I would be in favor of buying the two, but only if we buy both together, because they don't look very pretty individually.</i></p>

    <div class="section-caption">
      <span>Incompatibility</span>
    </div>
    <p><i>Anna and Ben are both great engineers. One of them should sit on the expert committee. However, the two don't get along very well, and I think committee work would be disrupted if both were on the committee.</i></p>
  </div>
  <div class="sep"></div>

  <div class="center"><h2>We caught your attention?</h2></div>
  <p>
    Start by creating your own election for free.
    If you want to learn more about the science behind this tool: <b>check out our paper at the AAMAS 2023.</b>
  </p>
  <div class="sep"></div>


  <div class="center">
    <div class="createcard" style="background-color: #c8e6c9;">
      <h2>Create a new election.</h2>
      <form action="/createnew" method="post">
        <input type="text" id="name" name="name" style="width: 88%;" placeholder="Election Title*" required class="textfield">
        <textarea id="description" name="description" style="width: 88%;" placeholder="Description*" required class="textarea" rows="5"></textarea>
        <div id="form-hidden" style="display: none;">
          <h3>Candidates:</h3>
          <input type="text" id="candidate1" name="candidate1" style="width: 42%;" placeholder="Candidate*" required class="textfield">
          <input type="text" id="candidate2" name="candidate2" style="width: 42%;" placeholder="Candidate*" required class="textfield">
          <input type="text" id="candidate3" name="candidate3" style="width: 42%;" placeholder="Candidate*" required class="textfield">
          <input type="text" id="candidate4" name="candidate4" style="width: 42%;" placeholder="Candidate" class="textfield">
          <input type="text" id="candidate5" name="candidate5" style="width: 42%;" placeholder="Candidate" class="textfield">
          <input type="text" id="candidate6" name="candidate6" style="width: 42%;" placeholder="Candidate" class="textfield">
          <div id="candidates-hidden" style="display: none;">
            <input type="text" id="candidate7" name="candidate7" style="width: 42%;" placeholder="Candidate" class="textfield">
            <input type="text" id="candidate8" name="candidate8" style="width: 42%;" placeholder="Candidate" class="textfield">
            <input type="text" id="candidate9" name="candidate9" style="width: 42%;" placeholder="Candidate" class="textfield">
            <input type="text" id="candidate10" name="candidate10" style="width: 42%;" placeholder="Candidate" class="textfield">
            <input type="text" id="candidate11" name="candidate11" style="width: 42%;" placeholder="Candidate" class="textfield">
            <input type="text" id="candidate12" name="candidate12" style="width: 42%;" placeholder="Candidate" class="textfield">
          </div>
          <h3>Committee Size:</h3>
          <input type="range" id="committeesize" name="committeesize" min="2" max="10" class="slider" list="ticks" value="2">
          <datalist id="ticks">
            <option value="2" label="2"></option>
            <option value="3"></option>
            <option value="4" label="4"></option>
            <option value="5"></option>
            <option value="6" label="6"></option>
            <option value="7"></option>
            <option value="8" label="8"></option>
            <option value="9"></option>
            <option value="10" label="10"></option>
          </datalist>
        </div>
        <br><br>
        <input type="submit" id="submitbtn" value="Submit" class="createbtn" style="background-color: #555555;">
      </form>
    </div>
  </div>
  <div class="sep"></div>


{% endblock %}

{% block scripts %}
<script>
  document.getElementById("description").addEventListener('input', function(){ $("div#form-hidden").css('display', 'block');});
  document.getElementById("candidate3").addEventListener('input', function(){ document.getElementById("submitbtn").style.backgroundColor = "#10a816";});
  document.getElementById("candidate6").addEventListener('input', function(){ $("div#candidates-hidden").css('display', 'block');});
</script>
{% endblock %}
