{% extends "base.html" %}
{% block content %}
        <div class="center">
            <div class="createcard">
                <form action="/login" method="post">
                    <input type="text" id="username" name="username" style="width: 96%;" placeholder="Username"
                           class="textfield" required>
                    <input type="password" id="passwd" name="passwd" style="width: 96%;" placeholder="Password"
                           class="textfield" required>
                    <br><br>
                    <input type="submit" id="logintbtn" value="Login" class="login-submitbtn">
                </form>
            </div>
        </div>

{% endblock %}
