{% extends "base.html" %}
{% block content %}

<form action="/register" method="post">
       <input type="text" id="name" name="name" class="form-control" placeholder="Your Name" class="textfield" required>
       <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
       <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail" class="textfield" required>
       <br>
       <input type="password" id="passwd" name="passwd" class="form-control" placeholder="Password" class="textfield" required>
       <input type="password" id="passwd_confirm" name="passwd_confirm" class="form-control" placeholder="Confirm Password" class="textfield" required>
       <br>
       <input class="form-check-input" type="checkbox" value="accept" id="tnc_accept" name="tnc_accept" required>
       <label class="form-check-label" for="tnc_accept">
              I have read and agree to the <a href="{{config.GOODVOTEX_TERMS_CONDITIONS_URL}}">Terms and Conditions.</a>
       </label>
       <br><br>
       <input type="submit" id="registerbtn" value="Register" class="btn btn-success">
</form>

{% endblock %}
