html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font: 100% Roboto, Arial, sans-serif;
  font-weight: 500;
}

a {
  color: #333333;
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

hr {
  border: 0;
  height: 6px;
  background-color: #333333;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ol li::marker{
  font-weight: 600;
}

input[type="radio"] {
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* Buttons */

.createbtn {
  width: 90%;
  height: 1.5em;
  background-color: #10a816;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.votebutton {
  width: 100%;
  background-color: #10a816;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 800;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.resetbutton {
  width: 100%;
  background-color: #119c95;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 800;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.election-details-votebtn {
  width: 14%;
  position: absolute;
  top: 0;
  left: 70%;
  height: 1.5em;
  background-color: #10a816;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
}

.election-details-sharebtn {
  width: 14%;
  position: absolute;
  top: 0;
  left: 86%;
  height: 1.5em;
  background-color: #105fa8;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
}

.election-details-detailsbtn {
  width: 14%;
  position: absolute;
  top: 0;
  left: 86%;
  height: 1.5em;
  background-color: #a81094;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
}

.election-details-resultbtn {
  width: 30%;
  height: 1.5em;
  background-color: #dabc14;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
  margin-right: 2%;
}

.election-details-deletebtn {
  width: 14%;
  height: 1.5em;
  background-color: #c00c0c;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
  margin-right: 2%;
}

.loginbtn {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 1.5em;
  background-color: #10a816;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
}

.login-submitbtn {
  width: 100%;
  height: 1.5em;
  background-color: #10a816;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logout-submitbtn {
  width: 100%;
  height: 1.5em;
  background-color: #a81010;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.changepass-submitbtn {
  width: 100%;
  height: 1.5em;
  background-color: #c28400;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.userbtn {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 1.5em;
  background-color: #7d10a8;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 1.25em;
  background-color: #a81010;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 3px #333333;
  font-weight: 600;
  padding-right: 10px;
  padding-left: 10px;
}

@media only screen and (orientation: portrait) {
  .votebutton {
    font-size: 5vw;
  }
  
  .resetbutton {
    font-size: 5vw;
  }

  .copybutton {
    font-size: 3vw;
  }
  
  .election-details-votebtn {
    font-size: 4vw;
  }
  
  .election-details-sharebtn {
    font-size: 4vw;
  }
  
  .election-details-detailsbtn {
    font-size: 4vw;
  }
  
  .election-details-resultbtn {
    font-size: 4vw;
  }
  
  .election-details-deletebtn {
    font-size: 4vw;
  }
  
  .election-details-refreshbtn {
    font-size: 4vw;
  }
  
  .election-details-adminbtn {
    font-size: 4vw;
  }
  
  .publishbtn {
    font-size: 4vw;
  }
}




/* Fields */
.textfield {
  background-color: white;
  color: #333333;
  background-position: 10px 10px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 2em;
  font-size: 22px;
  font-weight: 800;
  margin-top: 2px;
  margin-bottom: 2px;
}

.textarea {
  background-color: white;
  color: #333333;
  background-position: 10px 10px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 5em;
  resize: none;
}

.searchentry {
  background-color: white;
  color: #333333;
  background-position: 10px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
  font-weight: 800;
  position: absolute;
  top: 2vh;
}


/* Number Slider */

.slider {
  width: 86%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

datalist {
  color: #2b2a2a;
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin-left: 7%;
}


/* 
  Header
*/

.title-bar {
  width : 100vw;
  height: 10vh;
  background-color: #272525;
  color: #fcfcfc;
  box-shadow: 0px 0px 7px #2b2a2a;
}

@media only screen and (orientation: landscape) {
  .title-bar img {
    position: absolute;
    left: 20vw;
    top: 1vh;
    height: 8vh;
  }

  .search {
    width: 30%;
    font-size: 4vh;
    position: absolute;
    right: 20vw;
    top: 0;
  }
}

@media only screen and (orientation: portrait) {
  .title-bar img {
    position: absolute;
    left: 5vw;
    top: 1vh;
    height: 8vh;
  }

  .search {
    width: 60%;
    font-size: 4vh;
    position: absolute;
    right: 5vw;
    top: 0;
  }
}

.navi {
  position: absolute;
  left: 15vh;
  top: 2vh;
}

.navi a {
  margin-left: 2vh;
  font-size: 4vh;
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 800;
}


/*
  Body stuff
*/

.sep {
  clear: both;
  height: 20px;
}

.section-caption {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.section-caption span {
  position: relative;
  font-size: 1.25vw;
  font-weight: 600;
}

.section-caption span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 60%;
  height: 2px;
  background-color: black;
  right: 100%;
  margin-right: 15px;
}

.section-caption span::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 60%;
  height: 2px;
  background-color: black;
  left: 100%;
  margin-left: 15px;
}

.center {
  text-align: center;
}

@media only screen and (orientation: landscape) {
  .content {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (orientation: portrait) {
  .content {
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
}


.createcard {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px #333333;
  padding-top: 25px;
  padding-bottom: 25px;
}

.election-details {
  width: 100%;
  top: 20px;
  position: relative;
}

.election-details-title {
  width: 70%;
  left: 0;
  font-size: 2vw;
  font-weight: 600;
}

.election-details-body {
  margin-top: 50px;
  width: 100%;
  left: 0;
}

.election-details-description {
  font-weight: 500;
  font-size: 1.25vw;
}

.electioncard {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.electioncard-title {
  width: 70%;
  left: 0;
  font-size: 2vw;
  font-weight: 600;
}

.electioncard-body {
  margin-top: 50px;
  width: 100%;
  left: 0;
}

.electioncard-description {
  font-weight: 500;
  font-size: 1.25vw;
  width: 70%;
}

/*
  Overlay Window
*/

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #36493f;
  opacity: 0.6;
}

.infowindow {
  position: fixed;
  top: 20vh;
  left: 30vw;
  background-color: #d4fcff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px #333333;
  width: 40vw;
  border-style: solid;
}

.infowindow-title {
  background-color: #80f3fc;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  text-align: center;
  font-size: 2vw;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.window-content {
  margin: 20px;
  font-size: 1.25vw;
  text-align: justify;
  font-weight: 600;
}



/*
  Voting
*/

.candidate-container {
  background-color: #360b0b;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px #333333;
  width: 100%;
  min-height: 80px;
  position: relative;
  color: #f3eeee;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 5px;
}

.is-candidate {
  background-color: #fff6c4;
  color: #000000;
  margin: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-top: 1.0vw;
  width: 10vw;
  height: 3vw;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
  overflow: hidden;
  box-shadow: 0px 0px 3px #333333;
  text-align: center;
  font-size: 1.6vw;
  font-weight: 600;
  float: left;
  z-index: 10;
}

@media only screen and (orientation: portrait) {
  .is-candidate {
    width: 14vw;
    height: 5vw;
    font-size: 2vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

.bin {
  background-color: #4b2c39;
  color: #f3eeee;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 5px #333333;
}

.bin-dropzone {
  background-color: #5e4650;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  padding: 20px;
}

.bin-items {
  width: 100%;
  min-height: 100px;
}

.bin-settings {
  width: 100%;
  padding: 5%;
  font-size: 1.4vw;
  font-weight: 600;
}

@media only screen and (orientation: portrait) {
  .bin-settings {
    font-size: 2.7vw;
  }
}



