{%extends "base.html" %}
{%block content%}

    <div class="content">
        <div class="election-details">
            <div class="election-details-title">{{election.title}}</div>
            {% if election.is_stopped %} 
                <button class="election-details-votebtn" disabled style="background-color: #a1a0a0;">Vote</button>
            {% else %}
                <button onclick="window.location.href='/vote/{{ election.id }}';" class="election-details-votebtn">Vote</button>
            {% endif %}
            <input hidden type="text" value="{{ url_for('voting.details_page', electionID=election.id, _external=True) }}" id="sharelink" class="textfield" readonly>
            <button id="sharebutton" onclick="copyShareToClipboard()" class="election-details-sharebtn">Share</button>

            <div class="sep"></div>

            <div class="election-details-body">
                <div class="election-details-description">
                    <p>
                        {% for line in election.description.split("\n") %}
                        {{line}}<br>
                        {% endfor %}
                    </p>
                </div>

                <div class="sep"></div>

                <div class="section-caption">
                    <span>Candidates</span>
                </div>

                <div class="sep"></div>

                <div>
                    {% for candidate in election.candidates %}
                    <div class="is-candidate">
                        {{candidate.name}}
                    </div>
                    {% endfor %}
                </div>

                <div class="sep"></div>

                <div class="section-caption">
                    <span>Committee Size</span>
                </div>

                <div class="sep"></div>


                <div>
                    <input type="range" id="committeesize" name="committeesize" min="2" max="10" class="slider" list="ticks" value="{{election.committeesize}}" style="width: 100%;" disabled>
                    <datalist id="ticks" style="width: 100%; margin-left: 0;">
                        <option value="2" label="2"></option>
                        <option value="3"></option>
                        <option value="4" label="4"></option>
                        <option value="5"></option>
                        <option value="6" label="6"></option>
                        <option value="7"></option>
                        <option value="8" label="8"></option>
                        <option value="9"></option>
                        <option value="10" label="10"></option>
                    </datalist>
                </div>

                {% if election.is_stopped %}
                    <div class="sep"></div>
                    <div class="sep"></div>
                    <div class="sep"></div>
                    <div class="section-caption">
                        <span>Election Result</span>
                    </div>
                    <div class="sep"></div>
                    The following committee is the winner of this election:

                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sep"></div>
                {% endif %}

                {% if admin %}
                    <div class="sep"></div>
                    <div class="sep"></div>
                    <div class="section-caption">
                        <span>Admin Space</span>
                    </div>
                    <div class="sep"></div>
                    Currently <b>{{election.votecount}} voters</b> participated.
                    <div class="sep"></div>
                    The best committee currently is the following:
                    <div>
                        {% for candidate in election.get_winners() %}
                        <div class="is-candidate">
                            {{candidate.name}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="sep"></div>


                    <div style="padding-top: 25px;">
                        <form method="post">
                            {% if election.is_stopped %} 
                                <input type="submit" value="Stop and Evaluate" class="election-details-resultbtn" disabled style="background-color: #a1a0a0;">
                            {% else %}
                                <input type="submit" value="Stop and Evaluate" class="election-details-resultbtn" formaction="/evaluate/{{ election.id }}" onclick="return confirm('By evaluating the election, it will be closed for further votes. Do you want to continue evaluation?')">
                            {% endif %}
                            <input type="submit" value="Delete" class="election-details-deletebtn" formaction="/delete/{{ election.id }}">
                        </form>
                    </div>
                {% else %}
                    <p>As creator of this election, login to see more info.</p>
                {% endif %}

                <div class="sep"></div>
            </div>
        </div>
    </div>

{% endblock %}

{%block scripts%}
  <script>
    function copyShareToClipboard(){
        var copyText = document.getElementById("sharelink");
        copyText.select();
        copyText.setSelectionRange(0, 200);
        navigator.clipboard.writeText(copyText.value);
        
        // Hide info window
        document.getElementById("sharebutton").firstChild.data = "Copied!";
        document.getElementById("sharebutton").style.backgroundColor = "#313f78";
    }
  </script>
{% endblock %}