{% extends "base.html" %}
{% block content %}
        <div class="center"><h1>Welcome to GoodVotes!</h1></div>
        <p>
            You are interested in sophisticated committee elections?
            This site is exactly what you are searching for!
        </p>
        <p>
            With this tool you can easily create a committee election, and let your voters vote.
            Our goal is to <i>allow the voters to express what they actually want to express.</i>
            More precisely, we enable the voters to express <b>not only that they like a candidate,</b> but also preferences
            like the following examples in a very convenient way:
        </p>

        <div class="center" style="width: 80%; margin-left: 10%;">
            <div class="section-caption">
                <span>Substitution</span>
            </div>
            <p><i>I like potatoes and pasta on the buffet. But in case both were on the buffet, I would anyway only take
                either potatoes or pasta, not both. So having both is just as good for me as having only one of them.</i>
            </p>

            <div class="section-caption">
                <span>Dependency</span>
            </div>
            <p><i>I really like the white curtains paired with the red ones. I would be in favor of buying the two, but only
                if we buy both together, because they don't look very pretty individually.</i></p>

            <div class="section-caption">
                <span>Incompatibility</span>
            </div>
            <p><i>Anna and Ben are both great engineers. One of them should sit on the expert committee. However, the two
                don't get along very well, and I think committee work would be disrupted if both were on the committee.</i>
            </p>
        </div>
        <div class="sep"></div>

        <div class="center"><h2>We caught your attention?</h2></div>
        <p>
            Start by creating your own election for free.
            If you want to learn more about the science behind this tool: <b>check out our paper at the AAMAS 2023.</b>
        </p>
        <div class="sep"></div>

        <div class="col-sm-11 mx-auto">
            <div class="card text-dark bg-warning">
                <div class="card-header">
                    <b>Create New Election</b>
                </div>
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <form action="/" method="post">
                            <input type="text" id="name" name="name" style="width: 88%;" placeholder="Election Title*" required
                                class="textfield">
                            <textarea id="description" name="description" style="width: 88%;" placeholder="Description*" required
                                    class="textarea" rows="5"></textarea>
                            <div id="form-hidden" style="display: none;">
                                <h3>Candidates:</h3>
                                <input type="text" id="candidate1" name="candidates[]" style="width: 42%;" placeholder="Candidate*"
                                    required class="textfield">
                                <input type="text" id="candidate2" name="candidates[]" style="width: 42%;" placeholder="Candidate*"
                                    required class="textfield">
                                <input type="text" id="candidate3" name="candidates[]" style="width: 42%;" placeholder="Candidate*"
                                    required class="textfield">
                                <input type="text" id="candidate4" name="candidates[]" style="width: 42%;" placeholder="Candidate"
                                    class="textfield">
                                <input type="text" id="candidate5" name="candidates[]" style="width: 42%;" placeholder="Candidate"
                                    class="textfield">
                                <input type="text" id="candidate6" name="candidates[]" style="width: 42%;" placeholder="Candidate"
                                    class="textfield">
                                <div id="candidates-hidden" style="display: none;">
                                    <input type="text" id="candidate7" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                    <input type="text" id="candidate8" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                    <input type="text" id="candidate9" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                    <input type="text" id="candidate10" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                    <input type="text" id="candidate11" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                    <input type="text" id="candidate12" name="candidates[]" style="width: 42%;"
                                        placeholder="Candidate" class="textfield">
                                </div>
                                <h3>Committee Size:</h3>
                                <input type="range" id="committeesize" name="committeesize" min="2" max="10" class="slider"
                                    list="ticks" value="2">
                                <datalist id="ticks">
                                    <option value="2" label="2"></option>
                                    <option value="3"></option>
                                    <option value="4" label="4"></option>
                                    <option value="5"></option>
                                    <option value="6" label="6"></option>
                                    <option value="7"></option>
                                    <option value="8" label="8"></option>
                                    <option value="9"></option>
                                    <option value="10" label="10"></option>
                                </datalist>
                            </div>
                            <br><br>
                            <input type="submit" id="submitbtn" value="Submit" class="createbtn" style="background-color: #555555;">
                        </form>
                    {% else %}
                        <p>
                        <a href="{{ url_for("auth.login") }}">Login</a> or <a href="{{ url_for("auth.login") }}">register</a> to create a new election.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sep"></div>
        <div class="sep"></div>

        <div>
            {% if elections|length > 0 %}
            <div class="center">
                <h2>Featured Elections</h2>
            </div>
            <div class="sep"></div>

            <div id="featuredCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-sm-8 mx-auto">
                            <div class="card text-dark bg-light">
                                <div class="card-header">
                                    <b>{{ elections[0].title }}</b>
                                    <div class="float-end">
                                        <a href="/details/{{ elections[0].id }}"><button class="btn btn-secondary">Details</button></a>
                                        {% if elections[0].is_stopped %} 
                                            <button class="btn btn-success" disabled>Vote</button>
                                        {% else %}
                                            <a href="/vote/{{ elections[0].id }}"><button class="btn btn-success">Vote</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <b>Description:</b>
                                    <p>
                                        {% for line in elections[0].description.split("\n") %}
                                            {{ line }}<br>
                                        {% endfor %}
                                    </p>
                                    <br>
                                    <b>Committee Size:</b> {{elections[0].committeesize}}
                                    <br>
                                    <b>Candidates:</b>
                                    <p>
                                        {% for candidate in elections[0].candidates %}
                                            <div class="is-candidate">
                                                {{candidate.name}}
                                            </div>
                                        {% endfor %}
                                    </p>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for e in elections[1:] %}
                        <div class="carousel-item">
                            <div class="col-sm-8 mx-auto">
                                <div class="card text-dark bg-light">
                                    <div class="card-header">
                                        <b>{{ e.title }}</b>
                                        <div class="float-end">
                                            <a href="/details/{{ e.id }}"><button class="btn btn-secondary">Details</button></a>
                                            {% if e.is_stopped %} 
                                                <button class="btn btn-success" disabled>Vote</button>
                                            {% else %}
                                                <a href="/vote/{{ e.id }}"><button class="btn btn-success">Vote</button></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <b>Description:</b>
                                        <p>
                                            {% for line in e.description.split("\n") %}
                                                {{ line }}<br>
                                            {% endfor %}
                                        </p>
                                        <br>
                                        <b>Committee Size:</b> {{e.committeesize}}
                                        <br>
                                        <b>Candidates:</b>
                                        <p>
                                            {% for candidate in e.candidates %}
                                                <div class="is-candidate">
                                                    {{candidate.name}}
                                                </div>
                                            {% endfor %}
                                        </p>
                                        <div style="clear: both;"></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>            
                    {% endfor %}
                </div>
                <button class="carousel-control-prev text-bg-dark" type="button" data-bs-target="#featuredCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next text-bg-dark" type="button" data-bs-target="#featuredCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            {% endif %}
        </div>


{% endblock %}

{% block scripts %}
    <script>
        document.getElementById("description").addEventListener('input', function () {
            $("div#form-hidden").css('display', 'block');
        });
        document.getElementById("candidate3").addEventListener('input', function () {
            document.getElementById("submitbtn").style.backgroundColor = "#10a816";
        });
        document.getElementById("candidate6").addEventListener('input', function () {
            $("div#candidates-hidden").css('display', 'block');
        });
    </script>
{% endblock %}
